<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<!-- place configuration details here -->

<bean  name="student1" class="com.cg1.Student">
<property name="studentId" value="11"></property>
<property name="studentName" value="Neelam"></property>
</bean>

</beans>